// @import url( '~bootstrap/dist/css/bootstrap.min.css');

.content {
  text-align: justify;
}
$gray: #e5e5e5;

.footer {
  border-top: 1px solid $gray;
  display: flex;
  margin-top: 45px;
  padding: 0 0 36px;
}

.nodisplay {
  display: none;
}

.center {
  text-align: center;
}

.selected {
  font-weight: bold;
}

.num-words {
  font-weight: normal;
}

.inp-fld {
  display: inline-block;
  width: 80%;
}

.form-group-right {
  text-align: right;
}
@media (min-width: 768px) and (max-width: 992px) {
  .inp-fld {
    display: inline-block;
    width: 69%;
  }
}
@media (max-width: 768px) {
  .inp-fld {
    display: inline-block;
    width: 70%;
  }

  .add-btn {
    width: 50%;
  }
}
