// @import url( '~bootstrap/dist/css/bootstrap.min.css');

.content {
  text-align: justify;
}

.nodisplay {
  display: none;
}

.center {
  text-align: center;
}

.num-words {
  font-weight: normal;
}

.form-group-right {
  text-align: right;
}
@media (min-width: 768px) and (max-width: 992px) {
  // empty
}
@media (max-width: 768px) {
  .add-btn {
    width: 50%;
  }
}
