<ul class="nav navbar-nav">
  <li data-type="nav-select-li">
    <a id="summaryNav" class="active" data-type="nav-select" data-target="summary" href="#!/summary">
      <span data-lang="summary" data-toggle="lang">Summary</span>
    </a>
  </li>
  <li data-type="nav-select-li">
    <a id="learnNav" data-type="nav-select" data-target="learn" href="#!/learn">
      <span data-lang="learn" data-toggle="lang">Learn</span>
      <span id="learnWordsTopNum" class="badge"></span>
    </a>
  </li>
  <li data-type="nav-select-li">
    <a id="repeatNav" data-type="nav-select" data-target="repeat" href="#!/repeat">
      <span data-lang="repeat" data-toggle="lang">Repeat</span>
      <span id="repeatWordsTopNum" class="badge"></span>
    </a>
  </li>
  <li data-type="nav-select-li">
    <a id="vocabularyNav" data-type="nav-select" data-target="vocabulary" href="#!/vocabulary">
      <span data-lang="vocabulary" data-toggle="lang">Vocabulary</span>
    </a>
  </li>
  <li data-type="nav-select-li">
    <a id="settingsNav" data-type="nav-select" data-target="settings" href="#!/settings">
      <span data-lang="settings" data-toggle="lang">Settings</span>
    </a>
  </li>
</ul>
